* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


$tablet: 600px;
$desktop: 960px;


//colors
$blue-light: #5995DA;

@mixin card-style {
    background-color: white;
    border-color: #ccc;
    border-radius: 0.2em;
    overflow: hidden;
}


html {
    font-family: sans-serif;
    background-color: #f6f7f8;
}

body {
    height: 100%;
}


.container-flex {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}


.menu-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    padding: 0 0.6em;
}

.menu {
    width: 60em;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: #2f6fe9;
        }
    }
}


.logo {
    width: 9em;
    @media (max-width: $tablet) {
    }
}

.login {
}

.content-container {
    display: flex;
    width: 100%;
    align-items: center;  // since using flex-direction column, need to use align-items to horizontally center items
    flex-direction: column;


}

.match-container {
    margin-top: 2em;
    padding: 0 0.8em;

    @media (min-width: $tablet) {
        width: 60em;
    }
}

.match-found {
    text-align: center;

    @media (max-width: $tablet) {
        line-height: 1.5em;
        padding: 0 0.6em;
        text-align: left;
    }

    br {
        @media (max-width: $tablet) {
            display: block;
        }
        @media (min-width: $tablet) {
            display: none;
        }
    };
}

.post-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    @media (min-width: $tablet) {
        width: 60em;
    };
}


.post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    margin-top: 3em;;
}

.postName {
    color: $blue-light;
    font-size: 1.5em;
}

.postCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;

    flex: 0 1 80%;
    
    @include card-style;

    &:hover {
        box-shadow: 0 0 4px 0 rgba(46,62,72,.12),0 4px 12px 0 rgba(46,62,72,.12);
    }

}

.postCard.verticalCard {
    flex-direction: column;
}

.postCard.fullWidthCard {
    width: 100%;
    padding: 2em;
    @media (max-width: $tablet) {
        width: 90%;
        padding: 1em;
    }
}

.postCard.miniCard {
    width: calc(55% - 1em);
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;

    div {
        margin-bottom: 10px;
    }
}

.postRating {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
    width: 100px;

    .postRatingNum {
        padding-top: 10px;
    }
}

.card-logo {
    width: 2em;
}

.postThumbs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    flex: 0 1 20%;
}

.postColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 15px;

}

.postRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}


.rate-thumbs-down,
.rate-thumbs-up {
    text-decoration: none;
    color: black;
}

.otherDrugs {
    flex-wrap: wrap;
    font-size: 1.6em;
}

.badge {
    border-radius: 1em;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    border: 1px transparent solid;
    padding: 0.2em 0.5em;
}

.badge--otherDrug {
    cursor: pointer;
    margin: 0.4em 0 0.4em 0;
    &:hover {
        box-shadow: 0 0 4px 0 rgba(46,62,72,.12),0 4px 12px 0 rgba(46,62,72,.12);
    }
}

.badge.badge--medName {
    background-color: #ffdb99;
    border-color: #ffdb99;
    color: #330000;
}


.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 3em 0.5em;
}


.search-bar {
    display: flex;
    border: 2px solid #3e70ff;
    border-radius: 6.4em;
    margin: 0 0.2em;
}


.input-cta {
    width: 65%;
    background-color: #fff;
    font-size: 18px;
    line-height: 1.3333333;
    padding: 1.3em 2.5em;
    border: none;
    border-radius: 6.4em 0 0 6.4em;
    outline: none;
    color: black;
}

.btn-cta {
    width: 35%;
    background-color: #3e70ff;
    color: #fff;
    font-weight: 700;
    border-radius: 0 6.4em 6.4em 0;
    overflow: hidden;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #006dbf;
        border-color: #006dbf;
    }
    @media (max-width: $tablet) {
    }
}

.cta-text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3em;
}

.title-container {
    margin-top: 5em;
    margin-bottom: 2em;
    padding: 0 0.6em;

    .header-title {
        font-size: 2.5em;
        font-weight: 700;
    }
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-container.align-left {
    align-items: flex-start;
}

.width-full {
    padding: 0 0.6em;
    @media (min-width: $tablet) {
        width: 60em;
    }

}


.width-half {
    @media (min-width: $tablet) {
        width: 45%;
    }
}

.welcome-container {
    margin: 2em 0;
    padding: 0 0.6em;
    @media (max-width: $tablet) {
        align-items: flex-start;
        h1, p {
            margin: 0.3em 0;
        }
    }
}

.control-checkbox {
    // flex child property
    flex: 0 1 40%;
    margin: 1em;

    @media (max-width: $tablet) {
        flex: 0 1 100%;
    }

    .control {
        text-transform: uppercase;
        cursor: pointer;
    }

    // custom checkbox
    input {
        z-index: -1;
        position: relative;
    }

    span {
        height: 1.5em;
        width: 1.5em;
        border: 1px solid grey;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin-right: 0.4em;
        border-radius: 5px;
    }

    [type=checkbox]:checked + span:before {
        content: '\2714';
        position: absolute;
        top: -5px;
        left: 0;
        font-size: 1.5em;
        color: #00d400;
    }
    // end custom checkbox


}


.drug-checkboxes {
    flex-wrap: wrap;
}

.login-container {
    margin-top: 5em;
    margin-bottom: 2em;
    padding: 0 0.6em;

    .login-title {
        font-size: 1.5em;
        font-weight: 600;
    }
}

.login-input {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    padding: 0.1em;
    line-height: 2em;
    margin-top: 1.5em;
    color: #657786;
    padding-left: 0.5em;
    width: 35%;
    
    &:focus {
        color: #14171a;
        border-color: rgba(0,132,180,0.5);
    }

    @media (max-width: $tablet) {
        width: 50%;
    }

}

.submit-button {
    display: block;

    width: 15%;

    margin-top: 1.5em;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;

    @media (max-width: $tablet) {
        width: 50%;
    }
}

.submit-button.btn-blue {
    background-color: #3e70ff;
    border: 1px solid #3e70ff;
    color: #fff;

    &:hover {
        background-color: #3660d8;
        border-color: #3660d8;
    }
}

.asterisk-point {
    font-size: 0.8em;
}


.notification-card {
    font-family: inherit;
    position: fixed;
    width: 320px;
    padding: 0px 1em 1em;
    z-index: 9998;
    box-sizing: border-box;
    height: auto;
    top: 0px;
    bottom: auto;
    margin: 0px auto 0px -10em;
    left: 50%;
}

.notification-error {
    position: relative;
    width: 100%;
    cursor: default;
    border-radius: 2px;
    font-size: 0.8em;
    margin: 1em 0px 1em;
    padding: 1em;
    display: block;
    box-sizing: border-box;
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    transform: translate3d(0px, 0px, 0px);
    will-change: transform, opacity;
    border-top: 2px solid rgb(236, 61, 61);
    background-color: rgb(244, 233, 233);
    color: rgb(65, 47, 47);
    box-shadow: rgba(236, 61, 61, 0.9) 0px 0px 1px;
    top: 0px;
    height: 5.5em;
}

.notification-success {
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 2px;
    font-size: 0.8em;
    margin: 1em 0px 0px;
    padding: 1em;
    display: block;
    box-sizing: border-box;
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    transform: translate3d(0px, 0px, 0px);
    will-change: transform, opacity;
    border-top: 2px solid rgb(94, 164, 0);
    background-color: rgb(240, 245, 234);
    color: rgb(75, 88, 58);
    box-shadow: rgba(94, 164, 0, 0.9) 0px 0px 1px;
    top: 0px;
    height: 5.5em;
}

.notification-success-title {
    font-size: 1em;
    margin: 0px 0px 0.3em;;
    padding: 0px;
    font-weight: bold;
    color: rgb(94, 164, 0);
}

.notification-error-title {
    font-size: 1em;
    margin: 0px 0px 0.3em;
    padding: 0px;
    font-weight: bold;
    color: rgb(236, 61, 61);
}

.notification-message {
    margin: 0px;
    padding: 0px;
}

.notification-dismiss {
    font-family: Arial;
    font-size: 1em;
    position: absolute;
    top: 0.4em;
    right: 0.45em;
    line-height: 1em;
    background-color: rgb(228, 190, 190);
    color: rgb(244, 233, 233);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.footer-container {
    flex: none;
    display: block;
    margin-top: 3em;
}

.footer {
    font-size: .85em;
    text-align: center;
    padding: 1.5rem;
    background: #efefef;
    color: #999;
    
    a {
        padding-bottom: 1px;
        border: 0;
        color: black;
        text-decoration: none;
    }
}

.footer-credit {
    display: inline-block;
}
