* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


$tablet: 600px;
$desktop: 960px;


//colors
$blue-light: #5995DA;

@mixin card-style {
    background-color: white;
    border-color: #ccc;
    border-radius: 0.2em;
    overflow: hidden;
}


html {
    font-family: Montserrat,sans-serif;
    background-color: #f6f7f8;
}

body {
    height: 100%;
}


.container-flex {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}


.menu-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    padding: 0 0.6em;
}

.menu {
    width: 60em;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: #2f6fe9;
        }
    }
}


.logo {
    width: 9em;
    @media (max-width: $tablet) {
    }
}

.login {
}

.content-container {
    display: flex;
    //width: 60em;
    width: 100%;
    align-items: center;  // since using flex-direction column, need to use align-items to horizontally center items
    flex-direction: column;


}

.match-container {
    margin-top: 2em;
    padding: 0 0.8em;

    @media (min-width: $tablet) {
        width: 60em;
    }
}

.match-found {

    @media (max-width: $tablet) {
        line-height: 1.5em;
    }

    br {
        @media (max-width: $tablet) {
            display: block;
        }
        @media (min-width: $tablet) {
            display: none;
        }
    };
}

.post-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    @media (min-width: $tablet) {
        width: 60em;
    };
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    margin-top: 3em;;
}

.postName {
    color: $blue-light;
    font-size: 1.5em;
}

.postCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    width: calc(80% - 1em);
    
    @include card-style;

    &:hover {
        box-shadow: 0 0 4px 0 rgba(46,62,72,.12),0 4px 12px 0 rgba(46,62,72,.12);
    }

}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;

    div {
        margin-bottom: 10px;
    }
}

.postRating {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
    width: 100px;

    .postRatingNum {
        padding-top: 10px;
    }
}



.postThumbs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 20%;
}

.rate-thumbs-down,
.rate-thumbs-up {
    text-decoration: none;
    color: black;
}

.badge {
    border-radius: 1em;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    border: 1px transparent solid;
    padding: 0.2em 0.5em;
}

.badge.badge--medName {
    background-color: #ffdb99;
    border-color: #ffdb99;
    color: #330000;
}


.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 3em 0;
}


.search-bar {
    display: flex;
    border: 2px solid #3e70ff;
    border-radius: 6.4em;
    margin: 0 0.2em;
}


.input-cta {
    width: 65%;
    background-color: #fff;
    font-size: 18px;
    line-height: 1.3333333;
    padding: 1.3em 2.5em;
    border: none;
    border-radius: 6.4em 0 0 6.4em;
    outline: none;
    color: black;
}

.btn-cta {
    width: 35%;
    background-color: #3e70ff;
    color: #fff;
    padding: 20px;
    font-weight: 700;
    border-radius: 0 6.4em 6.4em 0;
    overflow: hidden;
    border: none;
    cursor: pointer;
    padding-left: 2em;
}

.cta-text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3em;
}

.question-container {
    margin-top: 5em;
    margin-bottom: 2em;
    padding: 0 0.6em;

    .header-title {
        font-size: 2.5em;
        font-weight: 700;
    }
}

.footer-container {
    flex: none;
    display: block;
    margin-top: 3em;
}

.footer {
    font-size: .85em;
    text-align: center;
    padding: 1.5rem;
    background: #efefef;
    color: #999;
    
    a {
        padding-bottom: 1px;
        border: 0;
        color: black;
        text-decoration: none;
    }
}

.footer-credit {
    display: inline-block;
}
