{% extends "header.html" %}

{% block content %}

        <h1 class="header-title">Which medication are you looking for?</h1>

        <div class="row">
            <section class="search-box">
                <label for="search-patient"><i class="fas fa-search"></i>
                    <span class="sr-only">Search for a Medication</span>
                </label>
                <input id="search-patient" class="search-input" tabindex="1" placeholder="Search for a Medication" title="Press Enter to Search">
            </section>
        </div> 


        <div class="row">
            <p class="row-title">Matches for Fluvoxamine</p>
        </div>


        <div class="card_gallery">

            <article class="card-block">
                <section class="card-body">
                    <h1 class="card-title"><a href="#">Shoppers Drug Mart #0</a></h1>
                    <span class="fa-layers float-left">
                        <span class="far fa-circle fa-3x" style="color: orange;"></span>
                        <strong class="fa-layers-text" data-fa-transform="down-3 right-6">97%</strong>
                    </span>
                    <div class="user-label clear-fix">
                        <a href="#"><span class="user-label--name">123 Main St.</span></a>
                    </div>
                    <div class="user-label clear-fix">
                        <a href="#"><span class="user-label--name">604-111-1111</span></a>
                    </div>
                    <!--
                    <section class="card-cta">
                        <section class="card-cta--buttons">
                            <section class="button-container">
                                <a class="download-button">Voting Buttons</a>
                            </section>
                        </section>
                    </section>
                    -->
                </section>
                <section class="card-last-block">
                    <div class="voting">
                        <div class="icon-rating"><i class="fas fa-thumbs-up fa-4x" style="color: green;"></i></div>
                        <div class="icon-rating"><i class="fas fa-thumbs-down fa-4x" style="color: red;"></i></div>
                    </div>
                </section>
            </article>





    </div>


    <div class="footer">
        <p>I need my meds 2018</p>
    </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/model.js"></script>
<script src="/static/js/view.js"></script>
<script src="/static/js/controller.js"></script>
<script src="/static/js/helper.js"></script>
<script src="/static/js/app.js"></script>
</body>


</html>

{% endblock %}























