<html>
    {% include 'header.html' %}


        <h1 class="header-title">Which medication are you looking for?</h1>

        <div class="row">
            <section class="search-box">
                <label for="search-med"><i class="fas fa-search"></i>
                    <span class="sr-only">Search for a Medication</span>
                </label>
                <input id="search-med" class="search-input" tabindex="1" placeholder="Search for a Medication" title="Press Enter to Search">
                <div class="btn-position">
                    <a id="show-pharmacies-button" class="btn btn-blue"><span>Search</span></a>
                </div>
            </section>
        </div> 

    <!-- Template section for Showing Selected Patient -->
        <div id="show-pharmacies"></div>
    <!-- End of template section for Showing Selected Patient -->


    <script id="template-showPharmacies" type="text/x-handlebars-template">
        {% raw %}
            {{#this}}
        <div class="row">
            <p class="row-title">Matches:</p>
        </div>


        <div class="card_gallery">
            {{#each pharmacies}}
            <article class="card-block">
                <section class="card-body">
                    <h1 class="card-title"><a href="#">{{ pharmacy_name}} </a></h1>
                    <!--
                    <span class="fa-layers float-left">
                        <span class="far fa-circle fa-3x" style="color: orange;"></span>
                        <strong class="fa-layers-text" data-fa-transform="down-3 right-6">97%</strong>
                    </span>
                    -->
                    <div class="user-label clear-fix">
                        <a href="#"><span class="user-label--name">{{ pharmacy_address }}</span></a>
                    </div>
                    <div class="user-label clear-fix">
                        <a href="#"><span class="user-label--name">{{ pharmacy_phone }}</span></a>
                    </div>
                </section>
                <section class="card-block-section">
                    <div class="voting">
                        <div class="icon-rating"><i class="fas fa-thumbs-up fa-4x" style="color: green;"></i></div>
                        <div class="icon-rating"><i class="fas fa-thumbs-down fa-4x" style="color: red;"></i></div>
                    </div>
                </section>
                <section class="card-block-section">
                    <div class="rating-number">
                        <span class="fa-layers">
                            <span class="far fa-circle fa-4x" style="color: orange;"></span>
                            <strong class="fa-layers-text" data-fa-transform="down-3 right-22">97%</strong>
                        </span>
                    </div>
                </section>
            </article>
            {{/each}}
        </div>
{{/this}}
    {% endraw %}
    </script>






    <div class="footer">
        <!--<p>I need my meds 2018</p>-->
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/model.js"></script>
<script src="/static/js/view.js"></script>
<script src="/static/js/controller.js"></script>
<script src="/static/js/helper.js"></script>
<script src="/static/js/app.js"></script>
</body>


</html>
























